* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
img {
    width: 100%;
}
/* *:hover {
    cursor:n-resize ;
} */
.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:linear-gradient(to right,rgb(3, 243, 191),rgba(4, 23, 227, 0.8));
    height: 10vh;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav_container div {
    display: flex;
    padding-top: 15px;
}
.nav_right ul{
    width:50vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.nav_container div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_container div ul li {
    list-style: none;
}
.nav_container div ul li a {
    text-decoration: none;
    color: #fff;
}
.nav_left img {
    width: 10vw;
}
.nav_signin {
    padding: 4px 16px;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
}
/* .nav_signin:hover {
    background-color: #fff;
    color:#000;
} */

@media screen and (max-width:768px) {
    .nav_right ul {
        width: 80vw;
    }
    .nav_left img {
        width: 20vw;
    }
} 
/* ******************************* */
.display_one {
    background-image: url(./images/procart2.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-position: start;
    background-size: cover;
    width: 100%;
    color: #000;
    display: flex;
}

.display_text {
    padding: 12rem 5rem;
    width: 100%;
}
.display_one h1 {
    font-size: 3rem;
    font-weight: bold;
}
.display_one  button {
    background-color: #000;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    
}
.display_one  button:hover {
    /* outline: 3px solid rgb(255, 136, 0); */
    box-shadow: 0 0 7px 3px;
}
.display_one div img {
    width: 65%;
    padding-top: 4rem;
    padding-left: 4rem;
}
/* display two */
.display_two_container {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    color: #fff;
    /* width: 80%; */
    text-align: center;
}
.display_two_container div {
    width: 25vw;
    background-color: #00afe5;
    padding: 10px;
    margin: 30px;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.6);
}
.display_two_wrapper h2 {
   text-align: center;
   font-weight: bold;
   font-size: 2.5rem;
   padding-top: 1.7rem;
   border-bottom: 1px solid #958e8e;
    
}
.display_two_container div img {
    width: 7vw;
    /* margin-left: 3vw; */
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin: 4vh 0;
}
.display_two_container div img:hover {
    outline: solid 5px #000;
    background-color: #24f6fd;
    /* width: 10vw; */
}

/* footer part */
.footer_container {
    /* display: flex;
    justify-content: center; */
    height: 50vh;
    /* background-color: #000; */
    background-color:#0c0405;
    color: #fff;
    padding: 20px;
    font-size: 15px;
}
.footer_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer_wrapper h1 {
    font-size: 20px;
   
}
.footer_wrapper li {
    list-style: none;
}
.footer_wrapper  a {
    text-decoration: none;
    color: #8c8888;
}
.footer_wrapper img {
    width: 8vw;
}
.footer_wrapper  label {
    display: block;
}
.footer_wrapper input {
    border: none;
    /* border-radius: 4px; */
    padding: 2px 5px;
    /* display: block; */
    width: 75%;
}
.footer_wrapper button {
        border: none;
        margin-left: -5px;
        background-color: #00dbd0;
        color: #0b0a0a;
        padding: 2px;
        font-weight: bold;
}
.footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.footer_icons img {
    width: 25px;
}
h5 {
    text-align: center;
}

.footer_icons ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    align-items: center;
}
.footer_container hr {
    background-color: #b0a6a6;
}
/* .footer_icon_container p{
    text-align: center;
} */