* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
img {
    width: 100%;
}
/* *:hover {
    cursor:n-resize ;
} */
.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    height: 11vh;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.178);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav_container div {
    display: flex;
    padding-top: 15px;
}
.nav_right ul{
    width:50vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.nav_container div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_container div ul li {
    list-style: none;
}
.nav_container div ul li a {
    text-decoration: none;
    color: #fff;
}
.nav_left img {
    width: 10vw;
}
.nav_signin {
    padding: 6px 16px;
    background-color: #c06006;
    border-radius: 14px;
    color: #fff;
}
.nav_signin:hover {
    background-color: #28d5fc;
    color:#000;
}

/* ******************************* */
.display_one {
    background-image: url(./images/procart2.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-position: start;
    background-size: cover;
    width: 100%;
    color: #000;
    display: flex;
    margin-top: 40px;
}

.display_text {
    padding: 7rem 5rem;
    width: 60vw;
    color: #000000;
    font-size: 1.1rem
}
.display_one h1 {
    font-size: 3.7rem;
    font-weight: bold;
    color: #fff;
}
.display_one p:first-child {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-left: 10vw;
    color: #fff;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    font-style: italic;
}
.display_one  button {
    background-color: rgba(255, 255, 255, 0.9);
    color: #ff6f00;
    border: none;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.display_one  button:hover {
    color: #000000;
    background-color: rgb(10, 239, 255);
}
.display_one div img {
    width: 65%;
    padding-top: 4rem;
    padding-left: 4rem;
}
/* display two */
.display_two_container {
    height: 50vh;
    background-color: #f6efef;
    display: flex;
    justify-content: center;
}
.display_two_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.display_two_wrapper div {
    background-color: #dbf4e7;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -60px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.6);
}
.display_two_wrapper div img {
    width: 70px;
    margin-left: 3.9rem;
    
}
.display_two_wrapper div p:not(:first-child) {
    font-size: 0.9rem;
    text-align: center;
    width: 12rem;
}
.display_two_wrapper div p:first-child {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    font-weight: 550;
}

/* display three */
.display_three_container {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    color: #fff;
    /* width: 80%; */
    text-align: center;
    margin-top: 12vh;
    perspective: 1000px;
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.display_three_container div:hover .flipper {
    transform: rotateY(180deg);
  }
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

.display_three_container div{
    width: 25vw;
    background-color: #00afe5;
    padding: 10px;
    margin: -10px;
    height: 60vh;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}
.back {
    transform: rotateY(180deg);
    /* margin-left: 300px; */
}
.display_three_wrapper h2 {
   text-align: center;
   font-weight: bold;
   font-size: 2.5rem;
   padding-top: 1.7rem;

}
.display_three_wrapper h2:not(:first-child) {
    border-bottom: 1px solid #958e8e;
    
}
.display_three_container div img {
    width: 7vw;
    /* margin-left: 3vw; */
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin: 4vh 0;
}
.display_three_container div img:hover {
    background-color: #fda324;
}
#headset {
    width: 30vw;
    height: 30vw;
    margin-left: 10rem;
    margin-top: 3rem;
    transform: translateX(-50%);
    animation: moveHeadset 0.5s infinite alternate; /* CSS animation for movement */
}

@keyframes moveHeadset {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-20px); }
    100% { transform: translateX(-50%) translateY(0); }
}


/* footer part */
.footer_container {
    height: 50vh;
    background-color:#0c0405;
    color: #fff;
    padding: 20px;
    font-size: 15px;
}
.footer_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer_wrapper h1 {
    font-size: 20px;
   
}
.footer_wrapper li {
    list-style: none;
}
.footer_wrapper  a {
    text-decoration: none;
    color: #8c8888;
}
.footer_wrapper img {
    width: 8vw;
}
.footer_wrapper  label {
    display: block;
}
.footer_wrapper input {
    border: none;
    padding: 2px 5px;
    width: 75%;
}
.footer_wrapper button {
        border: none;
        margin-left: -5px;
        background-color: #00dbd0;
        color: #0b0a0a;
        padding: 2px;
        font-weight: bold;
}
.footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.footer_icons img {
    width: 25px;
}
h5 {
    text-align: center;
}

.footer_icons ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    align-items: center;
}
.footer_container hr {
    background-color: #b0a6a6;
}
/* media query */
@media screen and (max-width:768px) {
    .nav_right ul {
        width: 80vw;
    }
    .nav_left img {
        width: 20vw;
        /* margin-left: 1rem; */
    }
    .display_text h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .display_text p:first-child {
        padding-left: 1.1rem;
    }
    .display_text p {
        font-size: 1rem;
    }
    .display_text {
        width: 110vw;
    }
    .display_one div img {
        display: none;
    }
    .display_two_container {
        height: 180vh;
    }

    .display_two_container div  {
        display: block;
        margin-top: 2rem;
        align-items: center;
        margin-left: 3.7rem;
    }
    .display_three_wrapper {
        height: 220vh;
    }
    .display_three_container {
        display: block;
        margin-left: 5rem;
        margin-bottom: 5rem;
    }
    .display_three_container div{
        width: 70vw;
        margin-bottom: 4rem;
        /* margin-left: 1rem; */
        /* margin: -3rem; */
    }
    .display_three_container div img {
        width: 6rem;
    }
    .footer_container {
        margin-top: 4rem;
        height: 62vh;
    }
    .footer_container div {
        margin-right: 0.8rem;
    }
    .footer_container h1{
        font-size: 0.9rem;
    }
    .footer_container ul li a {
        font-size: 0.8rem;
    }
    .footer_container button {
        margin-left: 5rem;
    }
    .footer_container input {
        width: 28vw;
    }
} 
@media screen and (max-width:1020px) {
    .display_text p {
        font-size: 1.1rem;
    }
    .display_text {
        margin-top: 0px;
        width: 100%;
    }
    .display_text h1 {
        font-size: 1.7rem;
    }
    .display_two_container div {
        width: 50vw;
    }
    .footer_container {
        height: 55vh;
    }
    .display_three_container div{
        width: 30vw;
    }
    .headset_container {
        width: 40vw;
    }
    #headset {
        padding-top: 5rem;
    }
    .display_one button {
        margin-left: 17rem;
        /* margin-bottom: 100vh; */
    }
    .display_one p:first-child {
        font-size: 1.6rem;
        margin-left: 3.5rem;
    }

}